{% extends "base.html.twig" %}
{% block content %}
	<div class="bg-bg min-h-screen py-16 px-6 sm:px-8 lg:px-12">
		<h1 class="text-title text-5xl font-extrabold text-center mb-16 uppercase">Aide</h1>

		<div class="max-w-7xl mx-auto space-y-32">
			<!-- Section Utilisateurs -->
			<div>
				<h2 class="text-title text-4xl font-bold mb-12 text-center">Gestion des utilisateurs</h2>
				<div class="grid gap-12 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 lg:text-base text-sm">
					<div class="bg-card p-8 rounded-2xl shadow-2xl hover:scale-105 transform transition duration-300">
						<h3 class="text-tabtitle text-2xl font-semibold mb-4">Créer un compte</h3>
						<a href="https://www.youtube.com/watch?v=oRP84XYPem0" target="_blank" class="text-blue-500 underline">Voir la vidéo</a>
						<div class="rounded-lg overflow-hidden shadow-md" style="aspect-ratio: 16 / 9;">
							<iframe class="w-full h-full" src="https://www.youtube.com/embed/oRP84XYPem0?si=Usrvjhc_D1IbEfLz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                        </div>
					</div>
					
				</div>
			</div>

			<!-- Section Projets -->
			<div>
				<h2 class="text-title text-4xl font-bold mb-12 text-center">Gestion des évènements</h2>
				<div class="grid gap-12 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
					<div class="bg-card p-8 rounded-2xl shadow-2xl hover:scale-105 transform transition duration-300">
						<h3 class="text-tabtitle text-2xl font-semibold mb-4">Proposer un évènement</h3>
						<a href="https://www.youtube.com/watch?v=e3R71DwHEMc&t=17s" target="_blank" class="text-blue-500 underline">Voir la vidéo</a>
						<div class="rounded-lg overflow-hidden shadow-md" style="aspect-ratio: 16 / 9;">
							<iframe class="w-full h-full" src="https://www.youtube.com/embed/e3R71DwHEMc?si=Q3t2XQlTlPn9eXOR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
					<div class="bg-card p-8 rounded-2xl shadow-2xl hover:scale-105 transform transition duration-300">
						<h3 class="text-tabtitle text-2xl font-semibold mb-4">S'inscrire à un évènement</h3>
						<a href="https://www.youtube.com/watch?v=jPW7ddRr33A" target="_blank" class="text-blue-500 underline">Voir la vidéo</a>
						<div class="rounded-lg overflow-hidden shadow-md" style="aspect-ratio: 16 / 9;">
							<iframe class="w-full h-full" src="https://www.youtube.com/embed/jPW7ddRr33A?si=gFHi6b2SxJ5UWj7B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
					<div class="bg-card p-8 rounded-2xl shadow-2xl hover:scale-105 transform transition duration-300">
						<h3 class="text-tabtitle text-2xl font-semibold mb-4">Se désinscrire d'un évènement</h3>
						<a href="https://www.youtube.com/watch?v=1onPMRGDjBI" target="_blank" class="text-blue-500 underline">Voir la vidéo</a>
						<div class="rounded-lg overflow-hidden shadow-md" style="aspect-ratio: 16 / 9;">
							<iframe class="w-full h-full" src="https://www.youtube.com/embed/1onPMRGDjBI?si=wrIWGQbIAWOl6CiB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
					<div class="bg-card p-8 rounded-2xl shadow-2xl hover:scale-105 transform transition duration-300">
						<h3 class="text-tabtitle text-2xl font-semibold mb-4">Voir les détails d'un évènement</h3>
						<a href="https://www.youtube.com/watch?v=M8X2NUsBs2Q" target="_blank" class="text-blue-500 underline">Voir la vidéo</a>
						<div class="rounded-lg overflow-hidden shadow-md" style="aspect-ratio: 16 / 9;">
							<iframe class="w-full h-full" src="https://www.youtube.com/embed/M8X2NUsBs2Q?si=JrWHBnOrN9o4g7ug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
					<div class="bg-card p-8 rounded-2xl shadow-2xl hover:scale-105 transform transition duration-300">
						<h3 class="text-tabtitle text-2xl font-semibold mb-4">Commenter un évènement</h3>
						<a href="https://www.youtube.com/watch?v=m6rk6G44ch0" target="_blank" class="text-blue-500 underline">Voir la vidéo</a>
						<div class="rounded-lg overflow-hidden shadow-md" style="aspect-ratio: 16 / 9;">
							<iframe class="w-full h-full" src="https://www.youtube.com/embed/m6rk6G44ch0?si=pZqNSDCP4u9ueEf4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>

			<!-- Section Tâches -->
			<div>
				<h2 class="text-title text-4xl font-bold mb-12 text-center">Gestion des actualités</h2>
				<div class="grid gap-12 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
					<div class="bg-card p-8 rounded-2xl shadow-2xl hover:scale-105 transform transition duration-300">
						<h3 class="text-tabtitle text-2xl font-semibold mb-4">Voir les détails d'une actualité</h3>
						<a href="https://www.youtube.com/watch?v=M8X2NUsBs2Q" target="_blank" class="text-blue-500 underline">Voir la vidéo</a>
						<div class="rounded-lg overflow-hidden shadow-md" style="aspect-ratio: 16 / 9;">
							<iframe class="w-full h-full" src="https://www.youtube.com/embed/M8X2NUsBs2Q?si=JrWHBnOrN9o4g7ug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
					<div class="bg-card p-8 rounded-2xl shadow-2xl hover:scale-105 transform transition duration-300">
						<h3 class="text-tabtitle text-2xl font-semibold mb-4">Commenter une actualité</h3>
						<a href="https://www.youtube.com/watch?v=m6rk6G44ch0" target="_blank" class="text-blue-500 underline">Voir la vidéo</a>
						<div class="rounded-lg overflow-hidden shadow-md" style="aspect-ratio: 16 / 9;">
							<iframe class="w-full h-full" src="https://www.youtube.com/embed/m6rk6G44ch0?si=pZqNSDCP4u9ueEf4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
