{% extends "base.html.twig" %}

{% block content %}
<!-- Contenu spécifique de chaque page -->
<div class="bg gap-2 p-2 grid grid-cols-6 items-center rounded-2xl bg-white drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
    {# titre de l'actualité #}
    <h1 class="col-span-6 text-black text-center row-start-1">Titre de l'actualité</h1>

    {# illustration #}
    <img src="../asset/bg_img.svg" alt="illustration" class="col-start-2 row-start-2 col-span-4 h-full w-full" >
</div>         
{% endblock %}