{% extends "base.html.twig" %}

{% block content %}
<!-- Contenu spécifique de chaque page -->
<div>
    <div class="gap-2 p-2 grid grid-cols-12 items-center">
        
        <h2 class="row-start-2 col-span-12 text-black font-bold text-3xl text-left">EVENEMENTS</h2>

        <div  id="carousel1" class="row-start-3 col-span-12 relative w-full overflow-hidden mx-auto bg-[#A23145] opacity-75 rounded-lg" data-slides="3">
            <!-- Conteneur du carrousel -->
            <div  id="carousel"  data-slides="6" class="carousel flex transition-transform duration-500 ease-out gap-2 p-2">
                <!-- Diapositives -->
                {% for categorie in categories %}
                    <div style="background-image: url('{{ categorie.img }}')" class="slide md:w-1/3 w-full flex-shrink-0 text-white text-center py-16 rounded-lg">{{ categorie.nom}}</div>
                {% endfor %}
                </div>

            <!-- Boutons de navigation -->
            <button aria-label="B_prev1" id="prev1" class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full"><</button>
            <button aria-label="B_next1" id="next1" class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full">></button>
        </div>


        <h2 class="row-start-4 col-span-12 text-black font-bold text-3xl text-left mt-32">ACTUALITES</h2>
        <div  id="carousel2" class="row-start-5 col-span-12 relative w-full overflow-hidden mx-auto bg-[#A23145] opacity-75 rounded-lg" data-slides="6">
            <!-- Conteneur du carrousel -->
            <div  id="carousel"  data-slides="6" class="carousel flex transition-transform duration-500 ease-out gap-2 p-2">
                <!-- Diapositives -->
                {% for categorie in categories %}
                    <div style="background-image: url('{{ categorie.img }}')" class="slide md:w-1/3 w-full flex-shrink-0 text-white text-center py-16 rounded-lg">{{ categorie.nom}}</div>
                {% endfor %}
            </div>

            <!-- Boutons de navigation -->
            <button aria-label="B_prev2" id="prev2" class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full"><</button>
            <button aria-label="B_next2" id="next2" class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full">></button>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="../js/caroussel.js" defer></script>
{% endblock %}  

