{% extends 'base.html.twig' %}

{% block content %}
<div class="pt-2 flex flex-col items-center gap-2 p-2 py-12 sm:py-24">
	<h1 class="text-2xl lg:text-4xl font-semibold text-center text-title uppercase lg:font-extrabold mb-8">Connexion</h1>
	<div class="flex flex-col gap-3 w-full max-w-xs sm:max-w-md p-6 sm:p-8 bg-form rounded-lg drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">

		<form class="grid grid-cols-6 space-y-4 text-sm lg:text-base" action="index.php?controlleur=connexion&methode=validerFormulaireConnexion" method="post" enctype="multipart/form-data">
			<div class="grid grid-cols-subgrid row-start-1 col-start-1 col-span-6 p-2">
				<div class="flex flex-row items-center gap-2 col-start-1 col-span-2">
					<img src="../asset/icones/envelope.svg" class="w-6 h-6 bg-text py-1 rounded-md" alt="icone">
					<label for="email">Email</label>
				</div>
				<div class="relative col-start-3 col-span-4 w-full">
					<input type="email" id='email' oninput='verifErreurSaisie(email)' placeholder="E-mail" name="email" 
						required title="Veuillez entrer une adresse e-mail valide" 
						class="bg-transparent border-white border-2 border-solid rounded-lg px-2 py-1 placeholder-text outline-none text-text w-full pr-10">
				</div>	
			</div>

			<div class="grid grid-cols-subgrid row-start-2 col-start-1 col-span-6 p-2 relative">
				<div class="flex flex-row items-center gap-2 col-start-1 col-span-2">
					<img src="../asset/icones/lock.svg" class="w-6 h-6 bg-text py-1 rounded-md" alt="icone">
				</div>
				<div class="relative col-start-3 col-span-4 w-full">
					<input type="password" id="password" placeholder="Mot de passe" name="mdp" required 
						title="Veuillez entrer un mot de passe sécurisé"
						class="bg-transparent border-white border-2 border-solid rounded-lg px-2 py-1 placeholder-text outline-none text-text w-full pr-10">
					<button type="button" class="toggle-password absolute right-2 top-1/2 transform -translate-y-1/2">
						<img src="../asset/icones/eye.svg" class="w-6 h-6 bg-button py-1 rounded-md" alt="Afficher le mot de passe">
					</button>
				</div>
				<a href="index.php?controlleur=mdpOublie&methode=lister" class="text-xs text-right col-start-1 col-span-6">Mot de passe oublié ?</a>
			</div>

			<button type="submit" class="row-start-3 col-start-1 col-span-6 p-3 bg-button hover:bg-hbutton text-tbutton font-semibold rounded-md transition">Se connecter</button>
		</form>


		<div class="flex items-center my-6">
            <hr class="w-full border-gray-300">
            <span class="px-4 text-gray-500">OU</span>
            <hr class="w-full border-gray-300">
        </div>
    
        <div class="text-center">
            <p class="text-gray-600">Vous n'avez pas de compte ?</p>
            <a href="index.php?controlleur=inscription&methode=lister" class="block w-full p-3 bg-button text-tbutton font-semibold rounded-lg hover:bg-hbutton transition mt-2">Inscrivez-vous</a>
        </div>
	</div>
</div>


<script>
	document.addEventListener("DOMContentLoaded", function () {
	            // Gestion de l'affichage du mot de passe
	            document.querySelectorAll(".toggle-password").forEach(function (button) {
	                button.addEventListener("click", function () {
	                    let inputField = button.previousElementSibling; // Sélectionner l'input correspondant
	                    let icon = button.querySelector("img");
	
	                    if (inputField.type === "password") {
	                        inputField.type = "text";
	                        icon.src = "../asset/icones/eye-slash.svg"; // Icône pour cacher le mot de passe
	                        icon.alt = "Masquer le mot de passe";
	                    } else {
	                        inputField.type = "password";
	                        icon.src = "../asset/icones/eye.svg"; // Icône pour afficher le mot de passe
	                        icon.alt = "Afficher le mot de passe";
	                    }
	                });
	            });
	        });
		</script>
<script src="../js/erreurSaisie.js"></script>
{% endblock %}

