{% extends "base.html.twig" %}

{% block content %}
<!-- Contenu spécifique de chaque page -->
<div class="h-full">
    <div class="gap-2 p-2 grid grid-cols-12 items-center">
        
        {# titre de la page #}
        <h1 class="col-span-12 text-white font-bold text-4xl text-center bg-[#A23145] rounded-2xl p-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] mb-10">Evénements du moment</h1>

        {# contenu #}

        {# grille de deux colonnes #}
        <div class="grid grid-cols-2 gap-4"></div>
    </div>
</div>
{% endblock %}  