{% extends 'base.html.twig' %}

{% block content %}
<!-- Contenu spécifique de chaque page -->
<div>
    <div class="flex flex-col items-center bg-cover bg-no-repeat bg-[url('../asset/bg_img.svg')] gap-2 p-2 py-24">
        <div class="flex flex-col gap-3 w-full max-w-xl p-8 bg-[#A23145] bg-opacity-70 rounded-lg drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
            <h1 class="text-3xl font-bold text-white text-center mb-6">Inscription</h1>
            <form class="space-y-4 gap-2">
                <div>
                    <input type="text" placeholder="Num. téléphone ou e-mail" 
                        class="w-full p-3 rounded-md bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-red-400">
                </div>
                <div>
                    <input type="text" placeholder="Nom complet" 
                        class="w-full items-center p-3 rounded-md bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-red-400">
                </div>
                <div>
                    <input type="text" placeholder="Nom d'utilisateur" 
                        class="w-full p-3 rounded-md bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-red-400">
                </div>
                <div>
                    <input type="password" placeholder="Mot de passe" 
                        class="w-full p-3 rounded-md bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-red-400">
                </div>
                <div>
                    <input type="password" placeholder="Confirmer le mot de passe" 
                        class="w-full p-3 rounded-md bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-red-400">
                </div>
                <div>
                    <p class="w-full text-left text-white text-sm">
                    En vous inscrivant, vous acceptez nos Conditions Générales. Découvrez comment nous collectons, utilisons et partageons vos données en lisant notre Politique d'utilisation des données et comment nous utilisons les cookies et autres technologies similaires en consultant notre Politique d'utilisation des cookies.
                    </p>
                    <div class="flex items-center my-4 justify-between">
                        <label class="inline-flex items-center cursor-pointer text-left text-white text-sm pb-6 max-w-md">En cochant cette option, vous consentez à recevoir des notifications par mail ou SMS concernant les dernières actualités de GureKultura
                        </label>
                        <input type="checkbox" value="" class="peer w-5 h-5">
                    </div>
                    <button type="submit" class="w-full p-3 bg-white text-red-700 font-semibold rounded-md hover:bg-gray-200 transition">S'inscrire</button>
                </div>
            </form>
            <div class="flex items-center my-4 gap-x-5">
                <hr class="w-full border-white border-2 rounded-lg">
                <span class="px-2 text-white">OU</span>
                <hr class="w-full border-white border-2 rounded-lg">
            </div>
        </div>
        <div class="w-full max-w-xl p-8 bg-[#A23145] bg-opacity-70 rounded-lg drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
            <div class="text-center">
                <p class="text-white mb-4">Vous avez déjà un compte ?</p>
                <a href="index.php?controlleur=connexion&methode=lister" class="w-full p-3 bg-white text-red-700 font-semibold rounded-md block hover:bg-gray-200 transition">Connectez-vous</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}