{% extends "base.html.twig" %}

{% block content %}
<!-- Contenu spécifique de chaque page -->
<div class="h-full">
    <div class="flex h-full flex-col items-left bg-[url('../asset/bg_img.svg')]  gap-2 p-2 ">
        <h1 class="text-center text-white font-bold text-5xl">Propose ton événement :</h1>
        <div class="flex bg-[#A23145] opacity-75 rounded-2xl p-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
            <label class="text-white min-w-auto">Quel est le nom de ton événement :</label>
            <input type="text" id="name" name="name" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" placeholder="Saisir une description ...">
        </div>

        <div class="flex bg-[#A23145] opacity-75 rounded-2xl p-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
            <label class="text-white min-w-auto">Quel est le type de ton événement :</label>
            <input type="text" id="type" name="type" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" placeholder="Fête, Cinéma, Concert, Sport ...">
        </div>

        <div class="flex h-full w-full flex-row items-left gap-2 ">
            <div class="flex flex-1 flex-col gap-2">
                <div class="bg-[#A23145] opacity-75 rounded-2xl p-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
                    <label class="text-white min-w-auto">Joindre les autorisation essentielles :</label>
                    <input type="text" id="name" name="name" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" placeholder="Insérer pdf, jpg, doc ...">
                </div>

                <div class="flex flex-1 flex-col bg-[#A23145] opacity-75 text-white rounded-2xl p-4">
                    <h1>Tes coordonées :</h1>
                    <div class="flex bg-[#A23145] opacity-75 text-white rounded-2xl py-2 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Email :</label>
                        <input type="text" id="mail" name="mail" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" placeholder="Saisir un email ...">
                    </div>
                    <div class="flex bg-[#A23145] opacity-75 text-white rounded-2xl py-2 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Téléphone :</label>
                        <input type="text" id="tel" name="tel" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full" placeholder="Saisir un téléphone ...">
                    </div>
                    <div class="flex bg-[#A23145] opacity-75 text-white rounded-2xl py-2">
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Nom du représentant de l'événement :</label>
                        <input type="text" id="replname" name="replname" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full" placeholder="Saisir un email ...">
                    </div>
                    <div class="flex bg-[#A23145] opacity-75 text-white rounded-2xl py-2">
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Prénom du représenant de l'événement :</label>
                        <input type="text" id="repfname" name="repfname" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full" placeholder="Saisir un email ...">
                    </div>
                    <div class="flex bg-[#A23145] opacity-75 text-white rounded-2xl py-2">
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl text-xs">Aide nous à pouvoir te contacter par mail ou téléphone si ton événement est retenus :</label>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-2">
                <div class="bg-[#A23145] opacity-75 rounded-2xl p-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
                    <label class="text-white min-w-auto">Décris ton événement :</label>
                    <input type="text" id="description" name="description" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" placeholder="Saisir une description ...">
                </div>

                <div class="flex flex-col bg-[#A23145] opacity-75 text-white rounded-2xl p-4">
                    <h1>Informations de ton événement :</h1>
                    <div class="flex bg-[#A23145] opacity-75 text-white rounded-2xl py-2 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Date :</label>
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Du :</label>
                        <input type="text" id="datebegin" name="datebegin" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" placeholder="Saisir date début">
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Au :</label>
                        <input type="text" id="dateend" name="dateend" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" placeholder="Saisir date fin">
                    </div>
                    <div class="flex bg-[#A23145] opacity-75 text-white rounded-2xl py-2 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Date :</label>
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Du :</label>
                        <input type="text" id="hourbegin" name="hourbegin" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" placeholder="Saisir heure début">
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Au :</label>
                        <input type="text" id="hourend" name="hourend" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" placeholder="Saisir heure début">
                    </div>
                    <div class="flex bg-[#A23145] opacity-75 text-white rounded-2xl py-2">
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Lieu :</label>
                        <input type="text" id="place" name="place" class="border-2 border-solid border-[#A23145] rounded-lg pl-2 text-[#bfbfbf] w-full" placeholder="Saisir une adresse ...">
                    </div>
                    <div class="flex bg-[#A23145] opacity-75 text-white rounded-2xl py-2">
                        <label class="flex justify-left bg-[#A23145] opacity-75 text-white rounded-2xl">Photo :</label>
                        <button href="#" class="flex items-center justify-center px-7 max-h-1 text-[#A23145] bg-[#ffffff] rounded-lg p-4 font-bold ">Ajouter</button>
                    </div>
                </div>
                <div class="flex items-center justify-center bg-[#A23145] opacity-75 text-white rounded-2xl p-2 gap-2">
                    <button href="#" class="flex items-center justify-center max-h-1 text-[#A23145] bg-[#ffffff] rounded-lg p-4 font-bold ">Besoins d'aide ?</button>
                    <button href="#" class="flex items-center justify-center max-h-1 text-[#A23145] bg-[#ffffff] rounded-lg p-4 font-bold ">Annuler</button>
                    <button href="#" class="flex items-center justify-center max-h-1 text-[#A23145] bg-[#ffffff] rounded-lg p-4 font-bold ">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>          
{% endblock %}