{% extends "base.html.twig" %}

{% block content %}
	<!-- Contenu spécifique de chaque page -->
	<div class="m-2 gap-8 flex flex-col items-center">

		<h1 class="text-2xl lg:text-4xl font-semibold lg:font-extrabold uppercase text-center text-title">Poster une actualité</h1>

		<form action="index.php?controlleur=propActu&methode=validerFormulairePropActu" method="post" enctype="multipart/form-data" class="flex flex-col gap-8 text-text w-fit test-sm lg:text-base">
			<div class="grid grid-cols-6 gap-2 bg-form rounded-xl w-full p-4">
				<div
					class="col-start-1 col-span-6 row-start-1 grid grid-cols-subgrid bg-principal rounded-lg p-4">
					{# titre evenement #}
					<div class="grid grid-cols-subgrid row-start-1 col-start-1 col-span-6 p-2">
						<div class="col-start-1 col-span-2 flex flex-row items-center gap-2">
							<img src="../asset/icones/fonts.svg" class="w-6 h-6  py-1 rounded-md" alt="icone de titre">
							<label for="titre">Titre</label>
						</div>
						<input type="text" name="titre" id="titre" class="col-start-3 col-span-4 bg-transparent border-white border-2 border-solid rounded-lg px-2 py-1 placeholder-text outline-none text-text" placeholder="Titre de l'actualité">
					</div>
					
					{# type evenement #}
					<div class="grid grid-cols-subgrid row-start-2 col-start-1 col-span-6 p-2">
						<div class="col-start-1 col-span-2 flex flex-row items-center gap-2">
							<img src="../asset/icones/ui-checks-grid.svg" class="w-6 h-6  py-1 rounded-md" alt="icone de type">
							<label for="type">Catégorie</label>
						</div>
						<!-- Dropdown Container -->
						<select name="cateId" id="nomCategorie" class="col-start-3 col-span-4 bg-transparent border-white border-2 border-solid rounded-lg ">
							<option class="" selected>Catégorie de l'actualité</option>
							{% for categorie in categories %}
								<option class="text-black" value="{{categorie.cateId}}" {% if actuActuel.cateId == categorie.cateId %} selected {% endif %}>{{ categorie.nom }}</option>
							{% endfor %}
						</select>
					</div>

					{# resume #}
					<div class="grid grid-cols-subgrid row-start-3 col-start-1 col-span-6 p-2">
						<div class="col-start-1 col-span-2 flex flex-row items-center gap-2">
							<img src="../asset/icones/card-text.svg" class="w-6 h-6  py-1 rounded-md" alt="icone de resume">
							<label for="resume">Résumé</label>
						</div>
						<textarea name="resume" id="resume" class="col-start-3 col-span-4 bg-transparent border-white border-2 border-solid rounded-lg px-2 py-1 placeholder-text outline-none text-text" placeholder="Résumé de l'actualité"></textarea>
					</div>

					{# Contenu #}
					<div class="grid grid-cols-subgrid row-start-4 col-start-1 col-span-6 p-2">
						<div class="col-start-1 col-span-2 flex flex-row items-center gap-2">
							<img src="../asset/icones/card-text.svg" class="w-6 h-6  py-1 rounded-md" alt="icone de resume">
							<label for="date">Contenu</label>
						</div>
						<textarea name="contenu" id="contenu" class="col-start-3 col-span-4 bg-transparent border-white border-2 border-solid rounded-lg px-2 py-1 placeholder-text outline-none text-text" placeholder="Contenu de l'actualité"></textarea>
					</div>


					{# Image #}
					<div class="grid grid-cols-subgrid row-start-5 col-start-1 col-span-6 p-2">
						<div class="flex flex-row items-center gap-2 col-start-1 col-span-2">
							<img src="../asset/icones/image.svg" class="w-6 h-6  py-1 rounded-md" alt="icone d'image">
							<label for="image">Image</label>
						</div>
						<input class="col-start-3 col-span-4 bg-transparent flex w-full rounded-md border border-white border-input bg-white text-sm file:border-0 file:bg-text file:text-white file:text-sm" type="file" name="image" id="image" accept=".jpg, .png" placeholder="Choisir une image"/>
					</div>
				</div>

				{# Bouton de validation ou annulation #}
				<div class="row-start-2 col-start-4 col-span-2 lg:col-start-6 lg:col-span-1 gap-2 flex flex-row justify-between items-center">
					<a href="index.php?controlleur=mesEv&methode=lister" class="px-4 py-2 bg-button hover:bg-hbutton text-white rounded-lg text-center">Annuler</a>
					<button type="submit" class="px-4 py-2 bg-button hover:bg-hbutton text-white rounded-lg text-center">Poster</button>
				</div>
			</div>
		</form>
	</div>

{% endblock %}
