{% extends "base.html.twig" %}

{% block content %}
	<!-- Contenu spécifique de chaque page -->
	<div class="m-2 gap-8 flex flex-col items-center justify-center">

    <h1 class="text-3xl font-bold text-center text-principal">Poster une actualité</h1>

	<form action="index.php?controlleur=propActu&methode=validerFormulaireActu" method="post" class="grid grid-cols-6 gap-2 text-white rounded-xl w-fit p-4">

		<div class="col-start-1 col-span-6 row-start-1 grid grid-cols-subgrid bg-principal rounded-lg p-4">
			{# titre evenement #}
			<div class="grid grid-cols-subgrid row-start-1 col-start-1 col-span-6 p-2">
				<label for="titre" class="col-start-1 col-span-2">Titre</label>
				<input type="text" name="titre" id="titre" class="col-start-3 col-span-4 bg-transparent border-white border-2 border-solid rounded-lg px-2 text-gray-400" placeholder="Titre de l'actualité">
			</div>
			{# type evenement #}
			<div class="grid grid-cols-subgrid row-start-2 col-start-1 col-span-6 p-2">
				<label for="nomCategorie" class="col-start-1 col-span-2">Catégorie</label>
				<!-- Dropdown Container -->
				<select name="cateId" id="nomCategorie" class="col-start-3 col-span-4 bg-transparent border-white border-2 border-solid rounded-lg text-gray-400">
					<option class="text-gray-400" selected>Catégorie de l'actualité</option>
					{% for categorie in categories %}
						<option class="text-black" value="{{categorie.cateId}}" {% if actuActuel.cateId == categorie.cateId %} selected {% endif %}>{{ categorie.nom }}</option>
					{% endfor %}
				</select>			
			</div>

			{# resume #}
			<div class="grid grid-cols-subgrid row-start-3 col-start-1 col-span-6 p-2">
				<label for="resume" class="col-start-1 col-span-2">Résumé</label>
				<textarea name="resume" id="resume" class="col-start-3 col-span-4 bg-transparent border-white border-2 border-solid rounded-lg px-2 text-gray-400" placeholder="Résumé de l'actualité"></textarea>
			</div>

			{# resume #}
			<div class="grid grid-cols-subgrid row-start-4 col-start-1 col-span-6 p-2">
				<label for="contenu" class="col-start-1 col-span-2">Contenu</label>
				<textarea name="contenu" id="contenu" class="col-start-3 col-span-4 bg-transparent border-white border-2 border-solid rounded-lg px-2 text-gray-400" placeholder="Contenu de l'actualité"></textarea>
			</div>


			{# Image #}
			<div class="grid grid-cols-subgrid row-start-5 col-start-1 col-span-6 p-2">
				<div class="flex flex-row items-center gap-2 col-start-1 col-span-2">
					<img src="../asset/icones/image.svg" class="h-5 w-5" alt="icone de photo">
					<label for="photo">Image</label>
				</div>
				<input class="col-start-3 col-span-4 bg-transparent flex w-full rounded-md border border-blue-300 border-input bg-white text-sm text-gray-400 file:border-0 file:bg-principal file:text-white file:text-sm" type="file" name="photo" id="photo" accept=".jpg, .png" placeholder="Choisir une photo"/>
			</div>
		</div>

		{# Bouton de validation ou annulation #}
		<div class="grid grid-cols-subgrid row-start-2 col-start-1 col-span-6 gap-2">
			<button type="submit" class="col-start-5 col-span-1 text-white bg-principal rounded-lg py-1 px-2">Valider</button>
			<a href="index.php?controlleur=mesEv&methode=lister" class="col-start-6 col-span-1 text-white bg-principal rounded-lg text-center py-1 px-2">Annuler</a>
		</div>	
	</form>
	</div>

{% endblock %}