{% extends "base.html.twig" %}

{% block content %}
	<div class="bg-bg min-h-screen py-16 px-6 sm:px-8 lg:px-12">
		<h1 class="text-2xl lg:text-4xl font-semibold text-center text-title uppercase lg:font-extrabold pb-8">Qui sommes-nous ?</h1>

		<div class="max-w-6xl mx-auto space-y-16 text-center">
			<p class="lg:text-base text-sm text-gray-700 leading-relaxed">
				La première version (<l class="underline italic">14.03.2025</l>) de notre application a été réalisée par un groupe d’étudiants en BUT Informatique à l'<a href="https://www.iutbayonne.univ-pau.fr/" class="underline"><b>IUT de Bayonne et du pays de l'adour</b></a> dans le cadre d’un projet académique. Ce groupe était composé de six développeurs talentueux : <b> <a href="https://www.linkedin.com/in/edgar-martin-435a57263/" class="underline">Edgar MARTIN</a>, <a href="https://www.linkedin.com/in/julian-campistron/"class="underline">Julian CAMPISTRON</a>, <a href="https://www.linkedin.com/in/kyllian-morance-33ba55263/" class="underline">Kyllian MORANCE</a>, <a href="https://www.linkedin.com/in/lilou-dufau-11aa032b3/"class="underline">Lilou DUFAU</a>, <a href="https://www.linkedin.com/in/maximeetchecopar/" class="underline">Maxime ETCHECOPAR</a> et <a href="https://www.linkedin.com/in/th%C3%A9o-lag%C3%BCe-500503268/" class="underline">Théo LAGÜE</a></b>. Grâce à leur engagement et leur expertise, cette application a vu le jour et continue d’évoluer.
			</p>

			<div class="grid gap-12 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:text-base text-sm">
				<div class="bg-card p-8 rounded-2xl shadow-xl hover:scale-105 transform transition duration-300">
					<h3 class="text-tabtitle text-2xl font-semibold mb-4">Notre Mission</h3>
					<p class="text-gray-600">Faciliter l'organisation et la découverte d'événements à travers tout le Pays Basque pour encourager les rencontres et la convivialité.</p>
				</div>
				<div class="bg-card p-8 rounded-2xl shadow-xl hover:scale-105 transform transition duration-300">
					<h3 class="text-tabtitle text-2xl font-semibold mb-4">Nos Valeurs</h3>
					<p class="text-gray-600">Communauté, partage, accessibilité et dynamisme.</p>
				</div>
				<div class="bg-card p-8 rounded-2xl shadow-xl hover:scale-105 transform transition duration-300">
					<h3 class="text-tabtitle text-2xl font-semibold mb-4">Notre Engagement</h3>
					<p class="text-gray-600">Offrir une plateforme intuitive et complète pour connecter les habitants et visiteurs du Pays Basque à travers des événements variés.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
