{% extends "base.html.twig" %}

{% block content %}
<!-- Contenu spécifique de chaque page -->
<div class="h-full">
    <div class="gap-2 p-2 grid grid-cols-12 items-center bg-[#A23145] rounded-2xl p-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] mb-10">
        
        {# titre de l'article #}
        <h1 class="col-span-12 text-white font-bold text-4xl text-left mb-10 break-words">Top 14 (J20) : Bayonne tombe lourdement à Anoeta contre Toulon</h1>

        {# contenu #}

        {# faire une grid de 2 colonnes #}
        <div class="grid grid-cols-2 auto-rows-fr gap-4 col-start-1 col-span-12">  
            
        </div>
    </div>
</div>
{% endblock %}  