{% extends "base.html.twig" %}

{% block content %}
<!-- Contenu spécifique de chaque page -->
<div class="pt-2">
    <div class="gap-2 p-2 grid grid-cols-12 items-center bg-[#A23145] rounded-lg">
        {# titre de l'article #}
        <h1 class="col-span-12 text-white font-bold text-2xl lg:text-5xl text-left mb-4 break-words col-start-1 row-start-1 px-4">Top 14 (J20) : Bayonne tombe lourdement à Anoeta contre Toulon</h1>
        {# resume de l'article #}
        <div class="col-span-12 text-white font-bold text-sm lg:text-lg text-left mb-4 break-words col-start-1 row-start-2 px-4">TOP 14 2023/2024 – Bayonne a subi à Anoeta sa première défaite à domicile de la saison, battu par un RC Toulon qui s’offre le bonus (10-46). L’Aviron Bayonnais aura été hors sujet tout au long de la partie, dans ce match délocalisé. Cette défaite renvoie les Bayonnais vers la lutte pour le maintien, alors qu’ils pouvaient se rapprocher du Top 6. À l’inverse des Toulonnais, qui remontent à la 5e place.</div>
        {# contenu #}

        {# Colonne de gauche #}
        <div class="grid grid-cols-6 row-start-3 col-start-1 col-span-12 xl:col-span-8 px-4">
            {# image de l'article #}
            <img src="../asset/actualite/aviron.webp" alt="Image de l'événement" class="sm:col-start-2 xl:col-start-1 col-span-4 row-start-1 rounded-lg mb-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" loading="lazy">
            {# contenu de l'article #}
            <div class="col-start-1 row-start-2 col-span-6 text-white font-medium text-xs lg:text-base text-left break-words">Le RC Toulon a pris à la gorge Bayonne<br>Était-ce la pression ? Le fait de jouer à Anoeta ? Le fait est que l’Aviron Bayonnais a sans doute fait son moins bon match de la saison. Pour ne pas dire depuis sa remontée. Les Basques, toujours invaincus à domicile depuis près deux saisons, sauf à Anoeta, sont empruntés, commettent des fautes d’entrée. Melvyn Jaminet profite de l’indiscipline, pour marquer deux pénalités (6e, 9e). Il faut dire que ce RC Toulon, pourtant parfois peu inspiré en déplacement, joue le coup à fond. En atteste leur 63 % de possession de balle, dans ce premier acte, mais aussi les 237 mètres gagnés ballon en mains, et les 8 défenseurs battus, contre 67 mètres et 4 défenseurs battus pour les locaux.
            Dominateurs et opportunistes, quand Duncan Paia’aua intercepte une passe du pilier Matis Perchaud, pour filer directement en terre promise (3-13, 21e). Et si on croit Bayonne enfin lancé après l’essai Arthur Iturria, au cœur du regroupement (10-13, 27e), l’éclaircie est de courte durée.</div>
        </div>
        {# section commentaires #}
        <div class="gap-2 grid grid-cols-12 items-center bg-[#ffffff] border-2 border-solid border-[#621220] rounded-lg p-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] sm:col-start-1 xl:col-start-10 col-span-12 xl:col-span-3 sm:row-start-4 xl:row-start-3 sm:h-full xl:h-full">
            {# texte commentaire #}
            <div class="gap-2 grid grid-cols-12 items-center bg-[#A23145] rounded-xl p-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] text-center justify-center mb-4 col-span-12 text-white text-lg lg:text-3xl font-medium">Commentaire</div>
            {# un exemple de commentaire #}
            <div class="gap-2 grid grid-cols-12 items-start p-2 mb-4 col-span-12">
                {# pfp #}
                <img src="../asset/pfp.svg" alt="pfp" class="col-start-1 col-span-2 row-span-2 row-start-1 w-full rounded-lg drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" loading="lazy">
                {# nom #}
                <div class="text-black text-base col-start-3 col-span-5 row-start-1 truncate">FABIEN</div>
                {# temps #}
                <div class="text-black text-xs col-start-8 col-span-3 row-start-1">il y a 2 heures</div>
                {# ... #}
                <img src="../asset/pointpointpoint.svg" alt="..." class="col-start-11 col-span-1 row-span-1 row-start-1" loading="lazy">
                {# texte #}
                <div class="text-black text-base col-start-3 col-span-8 row-start-2 break-words">Pas de souci à la fin c'est toujours Bayonne qui gagne.</div>
                {# like #}
                <img src="../asset/pouce_en_l_air_petit.svg" alt="bouton like" class="col-start-11 col-span-1 row-span-1 row-start-2" loading="lazy">
                {# compteur de nombre de likes #}
                <img src="../asset/cercle_compteur_likes.svg" alt="bouton like" class="col-start-12 col-span-1 row-span-1 row-start-2" loading="lazy">
            </div>
            {# un exemple de commentaire #}
            <div class="gap-2 grid grid-cols-12 items-start p-2 mb-4 col-span-12">
                {# pfp #}
                <img src="../asset/pfp.svg" alt="pfp" class="col-start-1 col-span-2 row-span-2 row-start-1 w-full rounded-lg drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]" loading="lazy">
                {# nom #}
                <div class="text-black text-base col-start-3 col-span-5 row-start-1 truncate">THOMAS</div>
                {# temps #}
                <div class="text-black text-xs col-start-8 col-span-3 row-start-1">il y a 10 heures</div>
                {# ... #}
                <img src="../asset/pointpointpoint.svg" alt="..." class="col-start-11 col-span-1 row-span-1 row-start-1" loading="lazy">
                {# texte #}
                <img src="../asset/BO_logo.webp" alt="photo"  class="text-black text-base col-start-3 col-span-8 row-start-2 break-words" loading="lazy">
                {# like #}
                <img src="../asset/pouce_en_l_air_petit.svg" alt="bouton like" class="col-start-11 col-span-1 row-span-1 row-start-2" loading="lazy">
                {# compteur de nombre de likes #}
                <img src="../asset/cercle_compteur_likes.svg" alt="bouton like" class="col-start-12 col-span-1 row-span-1 row-start-2" loading="lazy">
            </div>
            {# barre d'interaction #}
            <form action="TROUVERUNNOM.php" method="post" class="gap-2 grid grid-cols-12 items-start col-span-12" enctype="multipart/form-data" novalidate>
                {# barre de texte #}
                <div class="col-start-1 col-span-10 row-start-1 row-span-2 items-center rounded-lg border-2 border-solid border-black bg-[#ffffff]">
                    <textarea placeholder="Ajouter un commentaire" name="commentaire" maxlength="500" class="placeholder-gray-500 p-4 text-[#000000] w-full resize-none overflow-auto" rows="1"></textarea>
                </div>
                {# Ajouter une image #}
                <input type="file" id="image" name="image" accept=".jpg,.jpeg,.png,.svg,.webp" class="hidden" />
                <label for="image" alt="Image" class="cursor-pointer col-start-11 col-span-1 row-start-1">
                <img src="../asset/image_jointe.svg" alt="Choisir une image" class="w-24 h-auto" loading="lazy"/>
                </label>
                {# Ajouter un like #}
                <img src="../asset/pouce_en_l_air_grand.svg" alt="Like" name="like" class="col-start-11 col-span-1 row-start-2" loading="lazy">
                {# Envoyer le commentaire #}
                <input type="submit" id="submit" class="hidden" />
                <label for="submit" class="cursor-pointer col-start-12 col-span-1 row-start-2">
                    <img src="../asset/envoyer_message.svg" alt="Publier" class="w-24 h-auto" loading="lazy" />
                </label>


                {# <input type="image" id="image" alt="Login" src="/media/examples/login-button.png" /> #}
            </form>
        </div>
    </div>
</div>
{% endblock %}  